[submodule "201"]
	path = 201
	url = https://github.com/nickjoven/201.git
[submodule "intersections"]
	path = intersections
	url = https://github.com/nickjoven/intersections.git
[submodule "stribeck-optics"]
	path = stribeck-optics
	url = https://github.com/nickjoven/stribeck-optics.git
